* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./bg.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 115%;
  color: #000;
  font-family: 'Courier New', monospace;
  height: 100vh;
}

.game-controls,
.game-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-inputs-form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* background-color: #fff; */
}

.inputs {
  display: flex;
  background-color: #fff;
  opacity: 0.75;
  border-radius: 20px;
  padding-inline: 15px;
  align-items: center;
  margin-inline: 2vw;
}

.memory-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.memory-game div {
  flex-basis: calc(15% - 20px);
  height: 20vh;
  background-image: url("./bg.png");
  margin: 10px;
  cursor: pointer;
  perspective: 1000px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: transform 0.5s ease, background-color 0.5s ease;
  box-shadow: 3px 3px 0 rgb(0, 0, 0);
  border-radius: 20px;
}

.memory-game div.flip {
  transform: rotateY(180deg);
  background-color: #000;
  box-shadow: -3px 3px 0 rgb(0, 0, 0);
}

.start-game {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  border-radius: 20px;
  box-shadow: 3px 3px 0 rgb(0, 0, 0);
  margin-inline: 20px;
}

.restart-game {
  display: none;
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  border-radius: 20px;
  box-shadow: 3px 3px 0 rgb(0, 0, 0);
}

.opt-yes,
.opt-no {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  border-radius: 20px;
  box-shadow: 3px 3px 0 rgb(0, 0, 0);
  margin-inline: 20px;
}

.opt-yes:active,
.opt-no:active,
.start-game:active,
.restart-game:active {
  background-color: rgb(192, 0, 0);
  transform: translateY(4px);
}

.score-card {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.best,
.moves {
  display: none;
  padding-inline: 20px;
  align-items: center;
  background-color: #fff;
  opacity: 0.75;
  font-weight: bold;
  border-radius: 20px;
  margin-inline: 20px;
}

.best>h1,
.moves>h1 {
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: normal;
}

footer {
  text-align: center;
}

.controller-button {
  display: inline-block;
  margin: 10px;
}

.moves-count,
.best-score {
  font-family: 'Comic Sans MS', cursive;
  margin: 5px;
}

.errorMsg {
  display: none;
  color: #f00;
  background-color: #fff;
  opacity: 0.75;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  font-weight : bold;
}

#gifs-n {
  width: 30px;
  border: none;
  font-weight: bold;
  font-size: 1em;
}

.instructions {
  display: flex;
  margin-top: 30px;
  margin-inline: 15vw;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;
  letter-spacing: 2px;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  opacity: 0.75;
}

.instructions>h1 {
  margin-bottom: 20px;
}

.instructions>h2,
.instructions>p {
  padding: 0;
  margin: 0;
}

.outer-are-you-sure {
  display: none;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

.are-you-sure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  opacity: 0.75;
  padding: 20px;
  border-radius: 20px;
}

.opts {
  display: flex;
}

.outer-all-matched {
  display: none;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

.all-matched {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  opacity: 0.75;
  padding: 20px;
  border-radius: 20px;
}

@media (max-width: 400px) {
  .memory-game div {
    flex-basis: calc(25% - 20px);
    height: 10vh;
  }

  .instructions {
    display: flex;
    margin-top: 30px;
    margin-inline: 15vw;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }

  .instructions>h1 {
    margin-bottom: 20px;
    font-size: small;
  }

  .instructions>h2,
  .instructions>p {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }

  #game-inputs-form {
    flex-direction: column;
  }

  .start-game,
  .restart-game,
  .opt-yes,
  .opt-no {
    font-size: xx-small;
    margin: 10px;
  }

  .best>h1,
  .moves>h1 {
    font-size: smaller;
  }

  .ques>h1 {
    font-size: smaller;
  }

  .all-matched>h1 {
    font-size: smaller;
    margin-bottom: 10px;
  } 

  .all-matched>p{
    font-size: smaller;
  }
}